In [1]:
# First, Import the libraries
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [4]:
df_AfricanDevelopment = pd.read_csv('../data/raw/AfricanDevelopment.csv')
df_AfricanDevelopment = df_AfricanDevelopment.dropna()
df_AfricanDevelopment.to_csv("../data/processed/df_AfricanDevelopment.csv")

In [5]:
# mc

df_AfricanDevelopment_mc = pd.read_csv('../data/raw/AfricanDevelopment.csv').dropna().to_csv("../data/processed/df_AfricanDevelopment.csv")

In [6]:
# df_AfricanDevelopment_mc

In [ ]:
df_country_variables = pd.read_csv('../data/raw/cpi_variable_data/country_variable.csv', header=1)

missing_columns = ['10/50 Ratio', 'Pop', 'Unnamed: 12']
df_country_variables.drop(missing_columns, axis=1, inplace=True)

df_country_variables = df_country_variables[df_country_variables['Variable'].astype(str).str.isdecimal()]

df_country_variables.to_csv("../data/processed/df_country_variables.csv")

In [ ]:
# mc

missing_columns = ['10/50 Ratio', 'Pop', 'Unnamed: 12']
df_country_variables_mc = pd.read_csv('../data/raw/cpi_variable_data/country_variable.csv', header=1).drop(missing_columns, axis=1, inplace=True)

df_country_variables = df_country_variables[df_country_variables['Variable'].astype(str).str.isdecimal()]

df_country_variables.to_csv("../data/processed/df_country_variables.csv")

In [23]:
df_data = pd.read_csv('../data/raw/archive/data.csv')
df_data = df_data.replace(['-'], np.nan)
df_data = df_data.astype({'1998': 'float64', '1999': 'float64', 
                            '2000': 'float64', '2001': 'float64', 
                            '2002': 'float64', '2003': 'float64', 
                            '2004': 'float64', '2005': 'float64', 
                            '2006': 'float64', '2007': 'float64', 
                            '2008': 'float64', '2009': 'float64', 
                            '2010': 'float64', '2011': 'float64', 
                            '2012': 'float64', '2013': 'float64', 
                            '2014': 'float64', '2015': 'float64', })

df_data_f['2012'] =  df_data_f.apply(lambda x : (x['2012'] /10), axis=1)
df_data_f['2013'] =  df_data_f.apply(lambda x : (x['2013'] /10), axis=1)
df_data_f['2014'] =  df_data_f.apply(lambda x : (x['2014'] /10), axis=1)
df_data_f['2015'] =  df_data_f.apply(lambda x : (x['2015'] /10), axis=1)

df_data_f_float_only = df_data_f[df_data_f.columns[df_data_f.columns != 'Jurisdiction']]


df_data_f_float_only.to_csv("../data/processed/df_data_f_float_only.csv")

,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.5,NaN,1.8,1.5,1.3,1.4,1.52,0.8,0.8,1.2,1.1
1,NaN,2.3,NaN,NaN,2.5,2.5,2.5,2.4,2.6,2.9,3.4,3.2,3.3,3.05,3.3,3.1,3.3,3.6
2,NaN,NaN,NaN,NaN,NaN,2.6,2.7,2.8,3.1,3.0,3.2,2.8,2.9,2.90,3.4,3.6,3.6,3.6
3,NaN,NaN,1.7,NaN,1.7,1.8,2.0,2.0,2.2,2.2,1.9,1.9,1.9,2.01,2.2,2.3,1.9,1.5
4,3.0,3.0,3.5,3.5,2.8,2.5,2.5,2.8,2.9,2.9,2.9,2.9,2.9,3.00,3.5,3.4,3.4,3.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.6,2.6,2.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,NaN,NaN,NaN,NaN,NaN,2.6,2.4,2.7,2.6,2.5,2.3,2.1,2.2,2.08,2.3,1.8,1.9,1.8
224,3.0,2.0,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,3.5,3.5,3.4,2.6,2.6,2.5,2.6,2.6,2.6,2.6,2.8,3.0,3.0,3.20,3.7,3.8,3.8,3.8
226,4.2,4.1,3.0,2.9,2.7,2.3,2.3,2.6,2.4,2.1,1.8,2.2,2.4,2.23,2.0,2.1,2.1,2.1

In [18]:
# mc

df_data = pd.read_csv('../data/raw/archive/data.csv').replace(['-'], np.nan).astype({'1998': 'float64', '1999': 'float64', 
                            '2000': 'float64', '2001': 'float64', 
                            '2002': 'float64', '2003': 'float64', 
                            '2004': 'float64', '2005': 'float64', 
                            '2006': 'float64', '2007': 'float64', 
                            '2008': 'float64', '2009': 'float64', 
                            '2010': 'float64', '2011': 'float64', 
                            '2012': 'float64', '2013': 'float64', 
                            '2014': 'float64', '2015': 'float64', })

AttributeError: 'NoneType' object has no attribute 'columns'

In [15]:
df_data

In [ ]:
df_mc_break = pd.read_csv(
    'data/src/sample_pandas_normal.csv',
    index_col=0
).assign(
    point_ratio=df['point'] / 100
).drop(
    columns='state'
).sort_values(
    'age'
).head(
    3
)

In [ ]:
df_AfricanDevelopment_SORTED_by_HDI = df_AfricanDevelopment.sort_values('humanDevelopmentIndex', ascending=False)
df_AfricanDevelopment_SORTED_by_HDI.to_csv("../data/processed/df_AfricanDevelopment_SORTED_by_HDI.csv")

In [25]:
# mc

df_AfricanDevelopment_SORTED_by_HDI_mc = df_AfricanDevelopment.sort_values('humanDevelopmentIndex', ascending=False).to_csv("../data/processed/df_AfricanDevelopment_SORTED_by_HDI.csv")

In [ ]:
df_cpi_nigeria= pd.read_csv('../data/raw/00cpi_xxxx/cpi_nigeria.csv',header=1)
missing_columns_nigeria = ['CPI', '10/50 Ratio', 'Pop', 'Unnamed: 12']
df_cpi_nigeria.drop(missing_columns_nigeria, axis=1, inplace=True)
df_cpi_nigeria = df_cpi_nigeria.dropna()

In [ ]:
df_cpi_nigeria_plot1 = df_cpi_nigeria.drop(['Variable', 'p99p100', 'Nat Inc pAdult', 'Nat Inc pAdult.1', 'Nat Wealth pAdult'], axis=1)
df_cpi_nigeria_plot1_wo_WI_ratio = df_cpi_nigeria.drop(['Variable', 'p99p100', 'Nat Inc pAdult', 'Nat Inc pAdult.1', 'Nat Wealth pAdult','Wealth-Inc Ratio'], axis=1)

ax_nigeria1 = df_cpi_nigeria_plot1_wo_WI_ratio.plot.bar(title='Trends in the share of wealth in Nigeria',grid=True,stacked=True)
ax_nigeria1.set_xlabel("Year")
ax_nigeria1.set_ylabel("Out of 1.0")

ax_nigeria2 = df_cpi_nigeria_plot1.plot(y='Wealth-Inc Ratio', kind="line", title='Trends of Wealth-Inc Ratio in Nigeria for 21 years')
ax_nigeria2.set_xlabel("Year Passed")
ax_nigeria2.set_ylabel("Wealth-Inc Ratio")

In [ ]:
df_cpi_nigeria_plot1_wo_WI_ratio.to_csv("../data/processed/df_cpi_nigeria_plot1_wo_WI_ratio.csv")
df_cpi_nigeria_plot1.to_csv("../data/processed/df_cpi_nigeria_plot1.csv")

In [ ]:
# mc
missing_columns_nigeria = ['CPI', '10/50 Ratio', 'Pop', 'Unnamed: 12']
df_cpi_nigeria_mc =pd.read_csv('../data/raw/00cpi_xxxx/cpi_nigeria.csv',header=1).drop(missing_columns_nigeria, axis=1, inplace=True).dropna()

df_cpi_nigeria_plot1 = df_cpi_nigeria.drop(['Variable', 'p99p100', 'Nat Inc pAdult', 'Nat Inc pAdult.1', 'Nat Wealth pAdult'], axis=1)
df_cpi_nigeria_plot1_wo_WI_ratio = df_cpi_nigeria.drop(['Variable', 'p99p100', 'Nat Inc pAdult', 'Nat Inc pAdult.1', 'Nat Wealth pAdult','Wealth-Inc Ratio'], axis=1)

ax_nigeria1 = df_cpi_nigeria_plot1_wo_WI_ratio.plot.bar(title='Trends in the share of wealth in Nigeria',grid=True,stacked=True)
ax_nigeria1.set_xlabel("Year")
ax_nigeria1.set_ylabel("Out of 1.0")

ax_nigeria2 = df_cpi_nigeria_plot1.plot(y='Wealth-Inc Ratio', kind="line", title='Trends of Wealth-Inc Ratio in Nigeria for 21 years')
ax_nigeria2.set_xlabel("Year Passed")
ax_nigeria2.set_ylabel("Wealth-Inc Ratio")

df_cpi_nigeria_plot1_wo_WI_ratio.to_csv("../data/processed/df_cpi_nigeria_plot1_wo_WI_ratio.csv")
df_cpi_nigeria_plot1.to_csv("../data/processed/df_cpi_nigeria_plot1.csv")