In [1]:
import pandas as pd
import numpy as np

In [2]:
# I want to take all african countries "xpi_xxx.csv" into one csv file.
# use "WID_countries.csv" and "AfricanDevelopment.csv"

WID = (pd.read_csv('../data/raw/WID_countries.csv', sep = ";"))
WID.head()

,alpha2,titlename,shortname,region,region2
0,AM,Armenia,Armenia,Asia,Western Asia
1,AN,the Netherlands Antilles,Netherlands Antilles,Americas,Caribbean
2,AO,Angola,Angola,Africa,Middle Africa
3,AR,Argentina,Argentina,Americas,South America
4,AS,American Samoa,American Samoa,Oceania,Oceania (excl. Australia and New Zealand)

In [3]:
African = (pd.read_csv('../data/raw/AfricanDevelopment.csv'))
African.head()

      country  humanDevelopmentIndex    pop2021
0  Seychelles                  0.801     98.908
1   Mauritius                  0.796   1273.433
2     Algeria                  0.759  44616.624
3     Tunisia                  0.739  11935.766
4    Botswana                  0.728   2397.241

In [4]:
# Only take out African countries.
WID_African = WID.query('region == "Africa"') # df.query('state == "CA"')
WID_African.head()

   alpha2     titlename     shortname  region          region2
2      AO        Angola        Angola  Africa    Middle Africa
13     BF  Burkina Faso  Burkina Faso  Africa   Western Africa
16     BI       Burundi       Burundi  Africa   Eastern Africa
17     BJ         Benin         Benin  Africa   Western Africa
24     BW      Botswana      Botswana  Africa  Southern Africa

In [6]:
# Change the column name of WID_African (from "titlename" to "country")
WID_African = WID_African.rename(columns={'titlename':'country'})
WID_African

,alpha2,country,shortname,region,region2
2,AO,Angola,Angola,Africa,Middle Africa
13,BF,Burkina Faso,Burkina Faso,Africa,Western Africa
16,BI,Burundi,Burundi,Africa,Eastern Africa
17,BJ,Benin,Benin,Africa,Western Africa
24,BW,Botswana,Botswana,Africa,Southern Africa
28,CD,the DR Congo,DR Congo,Africa,Middle Africa
29,CF,the Central African Republic,Central African Republic,Africa,Middle Africa
30,CG,the Congo,Congo,Africa,Middle Africa
32,CI,Cote d'Ivoire,Cote d'Ivoire,Africa,Western Africa
35,CM,Cameroon,Cameroon,Africa,Middle Africa
43,CV,Cabo Verde,Cabo Verde,Africa,Western Africa
49,DJ,Djibouti,Djibouti,Africa,Eastern Africa
53,DZ,Algeria,Algeria,Africa,Northern Africa
56,EG,Egypt,Egypt,Africa,Northern Africa
57,EH,Western Sahara,Western Sahara,Africa,Northern Africa
58,ER,Eritrea,Eritrea,Africa,Eastern Africa
60,ET,Ethiopia,Ethiopia,Africa,Eastern Africa
68,GA,Gabon,Gabon,Africa,Middle Africa
72,GH,Ghana,Ghana,Africa,Western Africa
75,GM,Gambia,Gambia,Africa,Western Africa
76,GN,Guinea,Guinea,Africa,Western Africa
77,GQ,Equatorial Guinea,Equatorial Guinea,Africa,Middle Africa
81,GW,Guinea-Bissau,Guinea-Bissau,Africa,Western Africa
99,KE,Kenya,Kenya,Africa,Eastern Africa
103,KM,Comoros,Comoros,Africa,Eastern Africa
116,LR,Liberia,Liberia,Africa,Western Africa
117,LS,Lesotho,Lesotho,Africa,Southern Africa
121,LY,Libya,Libya,Africa,Northern Africa
122,MA,Morocco,Morocco,Africa,Northern Africa
126,MG,Madagascar,Madagascar,Africa,Eastern Africa
129,ML,Mali,Mali,Africa,Western Africa
134,MR,Mauritania,Mauritania,Africa,Western Africa
137,MU,Mauritius,Mauritius,Africa,Eastern Africa
138,MW,Malawi,Malawi,Africa,Eastern Africa
142,MZ,Mozambique,Mozambique,Africa,Eastern Africa
143,NaN,Namibia,Namibia,Africa,Southern Africa
145,NE,Niger,Niger,Africa,Western Africa
146,NG,Nigeria,Nigeria,Africa,Western Africa
178,XE,former Ethiopia,Former Ethiopia,Africa,Eastern_Africa
199,RW,Rwanda,Rwanda,Africa,Eastern Africa
202,SC,Seychelles,Seychelles,Africa,Eastern Africa
203,SD,Sudan,Sudan,Africa,Northern Africa
206,SH,Saint Helena,Saint Helena,Africa,Western Africa
209,SL,Sierra Leone,Sierra Leone,Africa,Western Africa
211,SN,Senegal,Senegal,Africa,Western Africa
212,SO,Somalia,Somalia,Africa,Eastern Africa
214,SS,South Sudan,South Sudan,Africa,Northern Africa
215,ST,Sao Tome and Principe,Sao Tome and Principe,Africa,Middle Africa
271,SZ,Swaziland,Swaziland,Africa,Southern Africa
273,TD,Chad,Chad,Africa,Middle Africa
274,TG,Togo,Togo,Africa,Western Africa
280,TN,Tunisia,Tunisia,Africa,Northern Africa
286,TZ,Tanzania,Tanzania,Africa,Eastern Africa
288,UG,Uganda,Uganda,Africa,Eastern Africa
313,ZA,South Africa,South Africa,Africa,Southern Africa
314,ZM,Zambia,Zambia,Africa,Eastern Africa
315,ZW,Zimbabwe,Zimbabwe,Africa,Eastern Africa
316,ZZ,Zanzibar,Zanzibar,Africa,Eastern Africa

In [12]:
pd.merge(African, WID_African, on='country', how='outer')

,country,humanDevelopmentIndex,pop2021,alpha2,shortname,region,region2
0,Seychelles,0.801,98.908,SC,Seychelles,Africa,Eastern Africa
1,Mauritius,0.796,1273.433,MU,Mauritius,Africa,Eastern Africa
2,Algeria,0.759,44616.624,DZ,Algeria,Africa,Northern Africa
3,Tunisia,0.739,11935.766,TN,Tunisia,Africa,Northern Africa
4,Botswana,0.728,2397.241,BW,Botswana,Africa,Southern Africa
...,...,...,...,...,...,...,...
56,Mozambique,NaN,NaN,MZ,Mozambique,Africa,Eastern Africa
57,former Ethiopia,NaN,NaN,XE,Former Ethiopia,Africa,Eastern_Africa
58,Saint Helena,NaN,NaN,SH,Saint Helena,Africa,Western Africa
59,Swaziland,NaN,NaN,SZ,Swaziland,Africa,Southern Africa
60,Zanzibar,NaN,NaN,ZZ,Zanzibar,Africa,Eastern Africa

In [13]:
merged_af = pd.merge(African, WID_African, on='country', how='outer')

In [14]:
merged_af

,country,humanDevelopmentIndex,pop2021,alpha2,shortname,region,region2
0,Seychelles,0.801,98.908,SC,Seychelles,Africa,Eastern Africa
1,Mauritius,0.796,1273.433,MU,Mauritius,Africa,Eastern Africa
2,Algeria,0.759,44616.624,DZ,Algeria,Africa,Northern Africa
3,Tunisia,0.739,11935.766,TN,Tunisia,Africa,Northern Africa
4,Botswana,0.728,2397.241,BW,Botswana,Africa,Southern Africa
...,...,...,...,...,...,...,...
56,Mozambique,NaN,NaN,MZ,Mozambique,Africa,Eastern Africa
57,former Ethiopia,NaN,NaN,XE,Former Ethiopia,Africa,Eastern_Africa
58,Saint Helena,NaN,NaN,SH,Saint Helena,Africa,Western Africa
59,Swaziland,NaN,NaN,SZ,Swaziland,Africa,Southern Africa
60,Zanzibar,NaN,NaN,ZZ,Zanzibar,Africa,Eastern Africa

In [15]:
# sort by "alpha2"
merged_af.sort_values(by='alpha2')

,country,humanDevelopmentIndex,pop2021,alpha2,shortname,region,region2
18,Angola,0.574,33933.610,AO,Angola,Africa,Middle Africa
41,Burkina Faso,0.434,21497.096,BF,Burkina Faso,Africa,Western Africa
44,Burundi,0.423,12255.433,BI,Burundi,Africa,Eastern Africa
28,Benin,0.520,12451.040,BJ,Benin,Africa,Western Africa
4,Botswana,0.728,2397.241,BW,Botswana,Africa,Southern Africa
...,...,...,...,...,...,...,...
60,Zanzibar,NaN,NaN,ZZ,Zanzibar,Africa,Eastern Africa
10,Namibia,0.645,2587.344,NaN,Namibia,Africa,Southern Africa
12,Republic of the Congo,0.608,5657.013,NaN,NaN,NaN,NaN
13,Eswatini,0.608,1172.362,NaN,NaN,NaN,NaN
30,Ivory Coast,0.516,27053.629,NaN,NaN,NaN,NaN

In [49]:
# Remove lines where "alpha2" is nan
merged_af_dropNan = merged_af.dropna(how='all').dropna()
merged_af_dropNan.sort_values(by='alpha2') 
merged_af_dropNan

,country,humanDevelopmentIndex,pop2021,alpha2,shortname,region,region2
0,Seychelles,0.801,98.908,SC,Seychelles,Africa,Eastern Africa
1,Mauritius,0.796,1273.433,MU,Mauritius,Africa,Eastern Africa
2,Algeria,0.759,44616.624,DZ,Algeria,Africa,Northern Africa
3,Tunisia,0.739,11935.766,TN,Tunisia,Africa,Northern Africa
4,Botswana,0.728,2397.241,BW,Botswana,Africa,Southern Africa
5,Libya,0.708,6958.532,LY,Libya,Africa,Northern Africa
6,South Africa,0.705,60041.994,ZA,South Africa,Africa,Southern Africa
7,Gabon,0.702,2278.825,GA,Gabon,Africa,Middle Africa
8,Egypt,0.700,104258.327,EG,Egypt,Africa,Northern Africa
9,Morocco,0.676,37344.795,MA,Morocco,Africa,Northern Africa
11,Sao Tome and Principe,0.609,223.368,ST,Sao Tome and Principe,Africa,Middle Africa
14,Ghana,0.596,31732.129,GH,Ghana,Africa,Western Africa
15,Zambia,0.591,18920.651,ZM,Zambia,Africa,Eastern Africa
16,Equatorial Guinea,0.588,1449.896,GQ,Equatorial Guinea,Africa,Middle Africa
17,Kenya,0.579,54985.698,KE,Kenya,Africa,Eastern Africa
18,Angola,0.574,33933.610,AO,Angola,Africa,Middle Africa
19,Cameroon,0.563,27224.265,CM,Cameroon,Africa,Middle Africa
20,Zimbabwe,0.563,15092.171,ZW,Zimbabwe,Africa,Eastern Africa
21,Comoros,0.538,888.451,KM,Comoros,Africa,Eastern Africa
22,Rwanda,0.536,13276.513,RW,Rwanda,Africa,Eastern Africa
23,Nigeria,0.534,211400.708,NG,Nigeria,Africa,Western Africa
24,Tanzania,0.528,61498.437,TZ,Tanzania,Africa,Eastern Africa
25,Uganda,0.528,47123.531,UG,Uganda,Africa,Eastern Africa
26,Mauritania,0.527,4775.119,MR,Mauritania,Africa,Western Africa
27,Madagascar,0.521,28427.328,MG,Madagascar,Africa,Eastern Africa
28,Benin,0.520,12451.040,BJ,Benin,Africa,Western Africa
29,Lesotho,0.518,2159.079,LS,Lesotho,Africa,Southern Africa
31,Senegal,0.513,17196.301,SN,Senegal,Africa,Western Africa
32,Togo,0.513,8478.250,TG,Togo,Africa,Western Africa
33,Sudan,0.507,44909.353,SD,Sudan,Africa,Northern Africa
34,Malawi,0.485,19647.684,MW,Malawi,Africa,Eastern Africa
35,Ethiopia,0.470,117876.227,ET,Ethiopia,Africa,Eastern Africa
36,Guinea,0.466,13497.244,GN,Guinea,Africa,Western Africa
37,Gambia,0.466,2486.945,GM,Gambia,Africa,Western Africa
38,Liberia,0.465,5180.203,LR,Liberia,Africa,Western Africa
39,Guinea-Bissau,0.461,2015.494,GW,Guinea-Bissau,Africa,Western Africa
40,Sierra Leone,0.438,8141.343,SL,Sierra Leone,Africa,Western Africa
41,Burkina Faso,0.434,21497.096,BF,Burkina Faso,Africa,Western Africa
42,Eritrea,0.434,3601.467,ER,Eritrea,Africa,Eastern Africa
43,Mali,0.427,20855.735,ML,Mali,Africa,Western Africa
44,Burundi,0.423,12255.433,BI,Burundi,Africa,Eastern Africa
45,South Sudan,0.413,11381.378,SS,South Sudan,Africa,Northern Africa
46,Chad,0.401,16914.985,TD,Chad,Africa,Middle Africa
47,Niger,0.377,25130.817,NE,Niger,Africa,Western Africa

In [50]:
merged_af_dropNan.loc[0, 'alpha2']

'SC'

In [73]:
z = merged_af_dropNan.loc[0, 'country']
z

'Seychelles'

In [75]:
# zz = z.lower()
# zz

'seychelles'

In [80]:
"""
X = merged_af_dropNan.loc[1, 'country'] #    BB = merged_af_dropNan.loc[i, 'country']
x = X.lower()

XXX = (pd.read_csv(f'../data/raw/cpi_{x}.csv', sep = ";"))
XXX['country']=f"{x}"
merged_af_dropNan_merged_with_CPI = pd.merge(merged_af_dropNan,XXX)
"""

                         Country,Mauritius,,,,,,,,,,,    country
0   Variable,CPI,p90p100,p50p90,p0p50,p99p100,Nat ...  mauritius
1   1998,5,0.4578,0.3901,0.152,0.1374,12783.4058,1...  mauritius
2   1999,4.9,0.4578,0.3901,0.152,0.1374,13690.6223...  mauritius
3   2000,4.7,0.4578,0.3901,0.152,0.1374,14002.9229...  mauritius
4   2001,4.6,0.4578,0.3901,0.152,0.1374,14514.1506...  mauritius
5   2002,4.5,0.4578,0.3901,0.152,0.1374,15420.4451...  mauritius
6   2003,4.4,0.4578,0.3901,0.152,0.1374,16528.3231...  mauritius
7   2004,4.2,0.4578,0.3901,0.152,0.1374,17623.773,...  mauritius
8   2005,4.2,0.4578,0.3901,0.152,0.1374,18699.1575...  mauritius
9   2006,5.2,0.4578,0.3901,0.152,0.1374,20726.5582...  mauritius
10  2007,4.7,0.4643,0.3857,0.1501,0.1429,22809.380...  mauritius
11  2008,5.5,0.4707,0.3812,0.1481,0.1483,22844.762...  mauritius
12  2009,5.4,0.4772,0.3767,0.1461,0.1538,21675.829...  mauritius
13  2010,5,0.4836,0.3723,0.1441,0.1592,21160.6821,...  mauritius
14  2011,5.1,0.49,0.3678,0.1421,0.1647,21634.583,1...  mauritius
15  2012,5.7,0.4965,0.3634,0.1402,0.1701,22863.252...  mauritius
16  2013,5.2,0.492,0.3663,0.1417,0.1679,24729.7058...  mauritius
17  2014,5.4,0.4875,0.3692,0.1433,0.1656,28479.81,...  mauritius
18  2015,5.3,0.483,0.3721,0.1449,0.1634,26817.5298...  mauritius
19  2016,5.4,0.4785,0.375,0.1465,0.1612,24214.6176...  mauritius
20  2017,5,0.474,0.3779,0.1481,0.1589,25047.5091,2...  mauritius
21  2018,5.1,0.474,0.3779,0.1481,0.1589,26602.676,...  mauritius
22  2019,5.3,0.474,0.3779,0.1481,0.1589,21035.4949...  mauritius
23                                       ,,,,,,,,,,,,  mauritius

In [90]:
# for index, row in df.iterrows():
import os

X = merged_af_dropNan.loc[1, 'country'] #    BB = merged_af_dropNan.loc[i, 'country']
x = X.lower()
path = (f'../data/raw/cpi_{x}.csv')
is_file = os.path.isfile(path)

if is_file:
    XXX = (pd.read_csv(f'../data/raw/cpi_{x}.csv', sep = ";"))
    XXX['country']=f"{x}"
    merged_af_dropNan_merged_with_CPI = pd.merge(merged_af_dropNan,XXX)
else:
    pass
XXX

                         Country,Mauritius,,,,,,,,,,,    country
0   Variable,CPI,p90p100,p50p90,p0p50,p99p100,Nat ...  mauritius
1   1998,5,0.4578,0.3901,0.152,0.1374,12783.4058,1...  mauritius
2   1999,4.9,0.4578,0.3901,0.152,0.1374,13690.6223...  mauritius
3   2000,4.7,0.4578,0.3901,0.152,0.1374,14002.9229...  mauritius
4   2001,4.6,0.4578,0.3901,0.152,0.1374,14514.1506...  mauritius
5   2002,4.5,0.4578,0.3901,0.152,0.1374,15420.4451...  mauritius
6   2003,4.4,0.4578,0.3901,0.152,0.1374,16528.3231...  mauritius
7   2004,4.2,0.4578,0.3901,0.152,0.1374,17623.773,...  mauritius
8   2005,4.2,0.4578,0.3901,0.152,0.1374,18699.1575...  mauritius
9   2006,5.2,0.4578,0.3901,0.152,0.1374,20726.5582...  mauritius
10  2007,4.7,0.4643,0.3857,0.1501,0.1429,22809.380...  mauritius
11  2008,5.5,0.4707,0.3812,0.1481,0.1483,22844.762...  mauritius
12  2009,5.4,0.4772,0.3767,0.1461,0.1538,21675.829...  mauritius
13  2010,5,0.4836,0.3723,0.1441,0.1592,21160.6821,...  mauritius
14  2011,5.1,0.49,0.3678,0.1421,0.1647,21634.583,1...  mauritius
15  2012,5.7,0.4965,0.3634,0.1402,0.1701,22863.252...  mauritius
16  2013,5.2,0.492,0.3663,0.1417,0.1679,24729.7058...  mauritius
17  2014,5.4,0.4875,0.3692,0.1433,0.1656,28479.81,...  mauritius
18  2015,5.3,0.483,0.3721,0.1449,0.1634,26817.5298...  mauritius
19  2016,5.4,0.4785,0.375,0.1465,0.1612,24214.6176...  mauritius
20  2017,5,0.474,0.3779,0.1481,0.1589,25047.5091,2...  mauritius
21  2018,5.1,0.474,0.3779,0.1481,0.1589,26602.676,...  mauritius
22  2019,5.3,0.474,0.3779,0.1481,0.1589,21035.4949...  mauritius
23                                       ,,,,,,,,,,,,  mauritius

In [89]:
# for index, row in df.iterrows():
import os
import pathlib

for index, row in merged_af_dropNan.iterrows():
    X = merged_af_dropNan.loc[row, 'country'] #    BB = merged_af_dropNan.loc[i, 'country']
    x = X.lower()
    path = (f'../data/raw/cpi_{x}.csv')
    is_file = os.path.isfile(path)
    # p1 = pathlib.Path(path)

    if path.is_file:
    # if p1.exists():
        XXX = (pd.read_csv(f'../data/raw/cpi_{x}.csv', sep = ";"))
        XXX['country']=f"{x}"
        merged_af_dropNan_merged_with_CPI = pd.merge(merged_af_dropNan,XXX)
    else:
        pass

KeyError: "None of [Index(['Seychelles', 0.801, 98.908, 'SC', 'Seychelles', 'Africa',\n       'Eastern Africa'],\n      dtype='object')] are in the [index]"

In [78]:
## Creating one dataframe for all the countries

# Put the alpha2 at the beginning of the data frame into a variable
AA = merged_af_dropNan.loc[0, 'alpha2']

AllC = (pd.read_csv(f"../data/raw/WID_data_{AA}.csv", sep = ";"))
AllList = pd.DataFrame(columns = pd.read_csv(f"../data/raw/WID_data_{AA}.csv", sep = ";").columns)
AllList = []
for alpha2 in merged_af_dropNan['alpha2']:
    AllList.append(pd.read_csv(f"../data/raw/WID_data_{alpha2}.csv", sep = ';'))
AllC = pd.concat(AllList)

In [61]:
AllC

      country    variable  percentile  year   value  age pop
0          SC  sptinc992j       p0p63  1980  0.1909  992   j
1          SC  sptinc992j       p0p63  1981  0.1909  992   j
2          SC  sptinc992j       p0p63  1982  0.1909  992   j
3          SC  sptinc992j       p0p63  1983  0.1909  992   j
4          SC  sptinc992j       p0p63  1984  0.1909  992   j
...       ...         ...         ...   ...     ...  ...  ..
71831      NE  sptinc992j  p99.1p99.2  2015  0.0080  992   j
71832      NE  sptinc992j  p99.1p99.2  2016  0.0080  992   j
71833      NE  sptinc992j  p99.1p99.2  2017  0.0080  992   j
71834      NE  sptinc992j  p99.1p99.2  2018  0.0080  992   j
71835      NE  sptinc992j  p99.1p99.2  2019  0.0080  992   j

[3237752 rows x 7 columns]

In [70]:
# Merge "AfricanDevelopment.csv" and "merged_AllC"
merged_AllC = pd.merge(AllC, African, on='country', how='inner')

In [71]:
merged_AllC

Empty DataFrame
Columns: [country, variable, percentile, year, value, age, pop, humanDevelopmentIndex, pop2021]
Index: []

In [69]:
# Remove lines where "alpha2" is nan
merged_AllC_dropNan = merged_AllC.dropna(how='all').dropna()
merged_AllC_dropNan

Empty DataFrame
Columns: [country, variable, percentile, year, value, age, pop, humanDevelopmentIndex, pop2021]
Index: []